{% ckan_extends %}
{% block package_list %}
    {% if origin == 'homepage' %}
    <div class="ux ux-sm">
    <h2 class="row recent_updates_title">Recently updated</h2>
    <div class="row">
        {% for dataset in packages %}
        <div class="col-md-4 col-sm-3 transparent_box">
            <div class="row"><a href="{{ h.url_for('/dataset/' + dataset.name) }}">{{ dataset.title }}</a></div>
            <div class="row">{{ h.time_ago_from_timestamp(dataset.resources[0].last_modified) }}, {{ h.get_user_from_id(dataset.creator_user_id) }}</div>
            <div class="row">{{ h.markdown_extract(dataset.notes, extract_length=120) }}</div>
            <div class="row">
                {% for tag in dataset.tags %}
                <span class="col-md-1 tag">{{ tag.display_name }}</span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row view-all-btn">
        <a href="{{ h.url_for('/dataset') }}">View All</a>
    </div>
</div>
    {% else %}
          {% if packages %}
    <ul class="{{ list_class or 'dataset-list list-unstyled' }}">
    	{% block package_list_inner %}
	      {% for package in packages %}
	        {% snippet 'snippets/package_item.html', package=package, item_class=item_class, hide_resources=hide_resources, banner=banner, truncate=truncate, truncate_title=truncate_title %}
	      {% endfor %}
	    {% endblock %}
    </ul>
  {% endif %}
    {% endif %}
{% endblock %}