{% ckan_extends %}
{% block package_list %}
    <div class="ux">
    {% if origin == 'homepage' %}
        <h2 class="row recent_updates_title">Recently updated</h2>
    {% endif %}
    <div class="row">
        {% for dataset in packages %}
        <div {% if origin == 'homepage' %} class="col-lg-4 col-md-6 col-xs-12" {% else %} class="col-lg-12 col-md-12 col-xs-12" {% endif %}>
        <div class="col-sm-12 col-xs-12 transparent_box">
            <div class="row"><a href="{{ h.url_for('/dataset/' + dataset.name) }}">{{ dataset.title }}</a></div>
            <div class="row">{{ h.time_ago_from_timestamp(dataset.resources[0].last_modified) }}, {{ h.get_user_from_id(dataset.creator_user_id) }}</div>
            <div class="row">{{ h.markdown_extract(dataset.notes, extract_length=120) }}</div>
            <div class="row">
                {% for tag in dataset.tags %}
                <span class="col-md-1 tag">{{ tag.display_name }}</span>
                {% endfor %}
            </div>
        </div>
        </div>

        {% endfor %}
    </div>

    {% if origin == 'homepage' %}
    <div class="row view-all-btn">
        <a href="{{ h.url_for('/dataset') }}">View All</a>
    </div>
    {% endif %}
</div>
{% endblock %}