{% ckan_extends %}
{% block package_list %}
    <div class="ux ux-sm">
    <h2 class="row recent_updates_title">Recently updated</h2>
    <div class="row">
        {% for dataset in packages %}
        <div class="col-md-4 col-sm-3 transparent_box">
            <div class="row"><a href="{{ h.url_for('/dataset/' + dataset.name) }}">{{ dataset.title }}</a></div>
            {% set hours_modified = h.get_time_diff_in_hours(dataset.resources[0].last_modified) %}
            <div class="row">{{ h.get_time_diff_in_hours(dataset.resources[0].last_modified) }} {% if hours_modified <= 1 %} hour {%  else %} hours {% endif %}ago, {{ h.get_user_from_id(dataset.creator_user_id) }}</div>
            <div class="row">{{ h.markdown_extract(dataset.notes, extract_length=120) }}</div>
            <div class="row">
                {% for tag in dataset.tags %}
                <span class="col-md-1 tag">{{ tag.display_name }}</span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row view-all-btn">
        <a href="{{ h.url_for('/dataset') }}">View All</a>
    </div>
</div>
{% endblock %}