{%  ckan_extends %}

{%  set current_page = h.current_url() %}


{% block search_input %}
{% if 'dataset' in current_page %}
    <div class="dataset_main_div">
            <div class="input-group search-input-group container row">
                {% set stats = h.get_site_statistics() %}
                <h2 class="col-lg-9 col-md-9 col-sm-9 col-xs-9 dataset_big_input">Search data</h2>
                <h2 class="col-lg-2 col-md-2 col-sm-2 col-xs-2 dataset_select_input">{{ h.SI_number_span(stats.dataset_count) }} datasets found</h2>
            </div>
            <div class="input-group search-input-group container row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 dataset_big_input">
                          <input aria-label="{% block header_site_search_label %}{{ placeholder }}{% endblock %}" id="field-giant-search" type="text" class="form-control input-lg input-md" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">
                          {% block search_input_button %}
                          <span class="input-group-btn">
                            <button class="btn btn-default btn-lg" type="submit" value="search" aria-label="{{_('Submit')}}">
                              <i class="fa fa-search"></i>
                            </button>
                          </span>


                      {% endblock %}
                    </div>

        {% if sorting %}
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 dataset_select_input">
            <select id="field-order-by" name="sort" class="form-control form-control input-lg">
              {% for label, value in sorting %}
                {% if label and value %}
                  <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
                {% endif %}
              {% endfor %}
            </select>
        {% endif %}

        </div>
        </div>

</div>
{% endif %}
{% endblock %}

 {% block search_sortby %}
{% endblock %}