{% ckan_extends %}

{% block footer_links %}
  <li class="horizontal"><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About') }}</a></li>
    {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
  <li class="horizontal"><a href="{{ api_url }}">{{ _('DMS API') }}</a></li>
  <li class="horizontal"><a href="https://hiv.health.gov.mw/">Department of HIV & AIDS</a><br />
{% endblock %}

{% block footer_links_ckan %}
  <p class="desc">{% trans %}An open source <a class="hide-text" target="_blank" href="https://ckan.org/">
    <strong>CKAN</strong></a> project, built for the MoH by
    <a class="hide-text" target="_blank" href="https://fjelltopp.org"><strong>Fjelltopp</strong></a>
    with generous funding from <a class="hide-text" target="_blank" href="https://www.unaids.org"><strong>UNAIDS</strong></a>.{% endtrans %}</p>
{% endblock %}

{% block footer_attribution %}
{% endblock %}

{% block footer_lang %}
{% endblock %}
