{% ckan_extends %}

{% block footer_nav %}
    {% snippet 'snippets/footer_links.html', copyrights_owner='<a href="https://hiv.health.gov.mw/" target="_blank">Department of HIV & AIDS</a>' | safe, devs='<a class="hide-text" target="_blank" href="https://fjelltopp.org">Fjelltopp</a>' %}
{% endblock %}

{% block footer_logo_section %}
<a href="https://unaids.org" target="_blank"><img class="footer-logo" src="/images/unaids.png" alt=""/></a>
<a href="https://fjelltopp.org" target="_blank"><img class="footer-logo" src="/images/fjelltopp.png" alt=""/></a>
{% endblock %}
