{% ckan_extends %}


{% block header_logo %}
    {% snippet 'snippets/header_logo.html',
        site_title = g.site_title,
        logo='/images/logo.png',
        header_title='<span class="title-top-element">HIV, AIDS & Viral Hepititis</span><br/>Ministry of Health, Malawi' | safe %}
{% endblock %}

{% block nav_items_signed %}
    {{ h.build_nav_main(
        ('dataset.search', _('Datasets')),
        ('group.index', _('Categories')),
         ) }}
    <li><a href="/pages/dhamis-analytics">DHAMIS Analytics Dashboard</a></li>
{% endblock %}

{% block nav_items_unsigned %}
    {{ h.build_nav_main(
        ('dataset.search', _('Datasets')),
        ('group.index', _('Categories')),
        ('user.login', _('Log in'))
         ) }}
    <li><a href="/pages/dhamis-analytics">DHAMIS Analytics Dashboard</a></li>
{% endblock %}

