body {

  background: #fff;
  font-family: 'Inter' !important;
}


#NavbarHeadingContainer {
    /* HIV, AIDS & Viral Hepititis Ministry of Health, Malawi */
    width: 173px;
    height: 40px;
    left: 52px;
    top: 0px;
    /* appended to body */
    /*font-family: 'Inter';*/
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #990005;

}

/* browser based margin-top for logo and title : google chrome */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    #NavbarHeadingContainer {
        margin-top: 1rem;
    }
}

/* Chrome version 22-28 */
@media screen and(-webkit-min-device-pixel-ratio:0) {
#NavbarHeadingContainer { -chrome-:only a;
margin-top: -0.7rem;
);}
}

/* browser based margin-top for logo and title : firefox */
@-moz-document url-prefix() {
#NavbarHeadingContainer {
    margin-top: -0.7rem;
    }
}


#NavbarHeading1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #990005;
}

#NavbarHeading2 {
    font-size: 14px;
    color: #212121;
}

#NavbarLogo {
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
}


.fluid-white-bar {
    height: 0px;
    border-bottom: solid 0px #FFFFFF;
}

.account-masthead .account ul li {
  border-left: 0px solid #00232e;
}

.list-unstyled { /* login / register header */
  padding-top: 0.25em;
  padding-bottom:0px;
  margin: 0px;
  list-style: none;
}

.account-masthead .account ul li a {
    /* ignored */
    /*width: 41px;*/
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: right;
    /* Primary Red */
    color: #990005;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}


.account-masthead .account ul li a:hover {
  color: #ffffff;
  background-color: #990005;
  text-decoration: none;
  border-radius: 5px;
}


.account-masthead .account ul li a .btn {
  vertical-align: 0px;
  margin-left: 0px;
}

.account-masthead {

  height: 32px;
  left: 0px;
  right: 0px;
  top: 0px;

  /* Reddish Light Grey */
  background: #EDE8E8;


}

.masthead {

  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  /* White */
  background: #FFFFFF !important;
}

.nav-pills li a:focus, .masthead .navigation .nav-pills li.active a {
  background-color: #990005;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li a:focus, .masthead .navigation .nav-pills li.active a {
  background-color: #990005;
}


.masthead .nav > li > a{

    /* Categories */
    /* Original - commented */
    /*width: 76px;*/
    /*height: 20px;*/
    /* appended to body */
    /*font-family: 'Inter';*/
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: right;
    /* Primary Red */
    color: #990005;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.masthead .nav > li > a:hover{
  color: #FFFFFF;
  background-color: #990005;
}

.masthead .navigation .nav-pills li.active a {
    background-color: #990005;
}

.masthead .navigation .masthead .navigation .nav-pills li a:focus, .masthead .navigation .nav-pills li.active a {
  background-color: #FFFFFF;
  color: #212121;
}

.nav-pills li a:hover {
    background-color: #990005;
    color: #FFFFFF;
}


.homepage .module-search .module-content {
  background-color: #990005;
}



.site-footer {
  background: #000000 url("../../../base/images/bg.png");
  
}


.btn-primary {
  background-color: #b30006;
}


.btn-primary:hover {
  color: #fff;
  background-color: #990005;
  border-color: #ffffff;
}


.dataset-heading {
	width: 1020px;
	height: 24px;

	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;

	color: #990005;



	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}


.dataset-heading a {
  color: inherit;
}


.dataset-content div {
	width: 100%;
	height: 20px;

	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;

	color: #757575 !important;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}

.main, .hero {
    padding-top: 0px;
    background: #e8ecee;
}
