.primary {
    width: 100%;
    padding: 48px;
}

.wrapper:before {
    width:0 !important;
    display: none !important;
}

.section-separator {
    margin-top: 64px;
    margin-bottom: 64px;
}

.document_categories_title {
    margin-bottom: 0px;
}

.document_categories_background {
    min-height: 100%;
    background: #E8E8E8;
}

.with-min-height {
    min-height: 212px;
}

.navigation_title {
    margin-top: 4em;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding-left: 30px;
}

.navigation_subtitle {
    margin-top: 16px;
    /*padding-bottom: 64px;*/
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding-left: 30px;

}

.navigation_add {
    margin-bottom: 3em;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding-left: 30px;

}

#dataset-search-form > h1 {
    display: none;
}

.dataset-search-form, .search-form {
    margin-bottom: 0;
    border-bottom: 0;
}


.packages-list-with-bottom-border {
    margin-top:26px;
    padding: 0;
    border-bottom: 1px solid #dddddd;
}

.search-input-group > h1 {
    display: none;
}

.input-group, .search-input-group {
    margin:0;
    padding: 0;
}

#field-giant-search {
    width: 95%; min-width: 0; margin: 0; padding-left: 10px;
}

.input-group-btn {
    width: 5% !important; display: inline-block;
}

.input-lg {
    display: inline-block; width: 90%;  margin: 0; padding: 0
}

#field-order-by {
    max-width: 75%;
    margin-left: 10%;
}

@media only screen and (max-width: 991px) {
    #field-giant-search {
        width:80%;
    }
}

.dataset_big_input {
    display: inline-block; padding: 0;
}

.dataset_select_input {
    display: inline-block; padding-left: 0;
}

.margin_left_5p {
    margin-left: 1%;
}

/* arrows */

select {
    background-color: white;
    border-radius: 6px;
    display: inline-block;
    font: inherit;
    font-size: 18px !important;
    padding-left: 10px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.red_arrow {
  background-image:
    linear-gradient(45deg, transparent 50%, #980b0b 50%),
    linear-gradient(135deg, #980b0b 50%, transparent 50%),
    linear-gradient(to right, #ffffff, #ffffff);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

