.fluid-white-bar {
    height: 0;
    border-bottom: solid 0px #FFFFFF;
}

.account-masthead .account ul li {
  border-left: 0 solid #00232e;
}

.list-unstyled {
  padding-bottom:0;
  margin: 0;
  list-style: none;
}

.masthead {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: #FFFFFF !important;
}

.homepage .module-search .module-content {
  background-color: #990005;
}


.btn-primary {
  background-color: #b30006;
}


.btn-primary:hover {
  color: #fff;
  background-color: #990005;
  border-color: #ffffff;
}


.dataset-heading {
	width: 1020px;
	height: 24px;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #990005;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

