/*!* dms UI styling adjustments *!*/
/* header */
.masthead {
    background: none;
}

.masthead .main-navbar .navbar-nav > li > a,
.masthead .main-navbar .navbar-nav > li.active > a,
.title-top-element
{
    color: var(--secondary) !important;
}

/* promoted */
.promoted .subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #EDE8E8;
    margin-bottom: 0;
}

.promoted h1 {
    font-weight: 700;
    letter-spacing: -0.03em;
    margin: 15px 0;
}

.promoted h2 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-weight: 700;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.promoted .search-section {
    margin-top: 0;
}

.big-search-form .lens-btn {
    background: var(--light);
    padding-right: 14px;
    padding-left: 14px;
}

.big-search-form .lens-btn .fa-search {
    color: var(--secondary);
}

.promoted a.small,
.promoted a.small:active,
.promoted a.small:hover ,
.promoted a.small:visited {
    color: var(--light);
    text-decoration: underline;
}

.promoted .show-categories {
    margin-top: 10px;
}

.promoted-background {
    width: 100%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/small_piling_documents.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
}

@media only screen and (min-width: 468px) {
    .promoted-background {
        background-size: cover;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)) url("/images/medium_piling_documents.png") no-repeat center;
    }
}

@media only screen and (min-width: 992px) {
    .promoted-background {
        background-size: cover;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)) url("/images/web_piling_docs.png") no-repeat center;
    }
}
.promoted-background .show-categories {
    margin-top: 24px;
    a {
        color: var(--secondary);
    }
}

/* categories */
.topics-background {
    padding-top: 48px;
    padding-bottom: 48px;
}

/* groups */
.categories-page {
    .wrapper {
        border: none;
        box-shadow: none;
    }
    .wrapper:before {
        content: none;
    }
    .secondary {
        display: none;
    }
    .primary {
        width: 100%;
    }
    .module-content .page_primary_action .btn {
        margin-bottom: 24px;
    }
}
.topics-background {
    margin-top: 48px;
    margin-bottom: 64px;
    background-color: white;
}
.topics-background H1:first-child {
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.04em;
    text-align: left;
}
.topics-background .container {
    width: 100%;
}
.topics {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin-top: 24px;
}
.topics li:last-child {
    margin-right: 0;
}
.topics li {
    display: inline-block;
    margin-right: 21px;
    margin-top: 24px;
    width: 124px;
    height: 96px;
    border: none;
}
.topics li a {
    /*margin: 16px;*/
    width: 92px;
    height: 64px;
}

.topics li a .topic-top-square {
    background-color: #f0ad4e;
    width: 60px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.topics li a .topic-top-square img {
    max-width: 36px;
    max-height: 36px;
}
.topics li a .topic-link {
    text-align: center;
    font-size: 12px;
    width: 60px;
    font-weight: 700;
    line-height: 16px;
    color: #13240F;
}

/* insights */
.insights, .after-insights {
    display: none;
}

.main.hero {
    min-height: 0;
}

/* removes effect in promoted backgrounds */
.dynamic-wave-background:before, .dynamic-wave-background:after {
    background: none !important;
}

/* badges */
.dataset-resources li a.badge, .dataset-resources li a.badge:hover {
    color: var(--primary);
}

.user-image {
    object-fit: contain;
}