/*!* dms UI styling adjustments *!*/
/* header */
.masthead {
    background: none;
}

.masthead .main-navbar .navbar-nav > li > a,
.title-top-element
{
    color: var(--secondary);
}

/* promoted */
.homepage .promoted-background {
    background: url("/images/web_piling_docs.png") no-repeat center center;
    background-size: cover;
}

.promoted .subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #EDE8E8;
    margin-bottom: 0;
}

.promoted h1 {
    font-weight: 700;
    letter-spacing: -0.03em;
    margin: 15px 0;
}

.promoted h2 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-weight: 700;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.promoted .search-section {
    margin-top: 0;
}

.big-search-form .lens-btn {
    background: var(--light);
    padding-right: 14px;
    padding-left: 14px;
}

.big-search-form .lens-btn .fa-search {
    color: var(--secondary);
}

.promoted a.small,
.promoted a.small:active,
.promoted a.small:hover ,
.promoted a.small:visited {
    color: var(--light);
    text-decoration: underline;
}

.promoted .show-categories {
    margin-top: 10px;
}

/* categories */
.topics-background {
    padding-top: 48px;
    padding-bottom: 48px;
}

/* insights */
.insights, .after-insights {
    display: none;
}

.main.hero {
    min-height: 0;
}