<div role="main">
    <div class="main hero">

    {#      section with piling documents #}
    <div class="container-fluid navigation_section_background with-min-height">
        <div class="container">
              <div class="row">
                  <p class="navigation_title">Home / </p>
                    <p class="navigation_subtitle">Categories</p>
          </div>
        </div>
    </div>

        {#      section with categories  #}
    <div class="container-fluid document_categories_background">
        <div class="container section-separator">
              <div class="row">
            {% block document_categories %}
            {% snippet "group/snippets/group_list.html", groups=h.get_all_groups(), origin='group' %}
            {% endblock %}
              </div>
        </div>
    </div>

        {#      subscribe or login  #}
    <div class="container-fluid">
     <div class="container section-separator">
      <div class="row">
            {% snippet 'home/snippets/sections/subscribe_or_login.html' %}
      </div>
    </div>
    </div>


    </div>

  </div>
