<div role="main">
    <div class="main hero">

    {#      section with piling documents #}
    <div class="container-fluid title_and_search_before_layout">
        <div class="container">
              <div class="row">
                {% block title_and_search %}
                  {% snippet 'home/snippets/sections/title_and_search.html' %}
                {% endblock %}
          </div>
        </div>
    </div>



        {#      section with categories  #}
    <div class="container-fluid document_categories_background">
        <div class="container">
              <div class="row">
            {% block document_categories %}
            {% snippet 'home/snippets/sections/document_categories.html' %}
            {% endblock %}
              </div>
        </div>
    </div>

        {#      recently updated  #}
    <div class="container">
      <div class="row">
            <h1>Recently updated</h1>
      </div>
    </div>

        {#      subscribe or login  #}
    <div class="container">
      <div class="row">
            <h1>Subscribe or login</h1>
      </div>
    </div>

      <div class="container">
        <div class="row row1">
          <div class="col-md-6 col1">
            {% block promoted %}
              {% snippet 'home/snippets/promoted.html' %}
            {% endblock %}
          </div>
          <div class="col-md-6 col2">
            {% block stats %}
                {% snippet 'home/snippets/stats.html' %}
            {% endblock %}
            <br>
            {% block search %}
              {% snippet 'home/snippets/search.html' %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="container">
        <div class='row row1'>
          <div class="col-lg-offset-4" style="margin-bottom: 50px;">
            <a class="btn btn-primary btn-lg guidance-button" href="/pages/dhamis-analytics">
              <i class="fa fa-info-circle"></i>
              <span class="button-text">DHAMIS Analytics Dashboard</span>
            </a>
          </div>
        </div>
        <div class="row row2">
          {% set groups = h.get_featured_groups(count=10) %}
          {% for group in groups %}
            <div class="col-md-6">
              <div class="box">
                {% snippet 'snippets/group_item.html', group=group, truncate=50, truncate_title=35 %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
