<div class="ux">
    <h2 class="row document_categories_title">Document categories</h2>
{%  set group_size = h.groups_available() | length %}
{% set groups = h.groups_available() %}
<div class="row">
    {% for group in groups %}
        {% set gName = group.name %}
        {% if gName in ['circular','data','guideline','minutes','monitoring tool','plan','publication'] %}
    <div class="col-md-4 white_box">
        <div class="col-md-3">
            {% if gName == 'circular' %}
                <img class="white_box_icon" src="/images/group_icon_circular.png" width="40" height="40"/>
            {%  elif gName == 'data' %}
                <img class="white_box_icon" src="/images/group_icon_data.png" width="40" height="40"/>
            {% elif gName == 'guideline' %}
                <img class="white_box_icon" src="/images/group_icon_guideline.png" width="40" height="40"/>
            {% elif gName == 'minutes' %}
                <img class="white_box_icon" src="/images/group_icon_minutes.png" width="40" height="40"/>
            {% elif gName == 'monitoring tool' %}
                <img class="white_box_icon" src="/images/group_icon_monitoring.png" width="40" height="40"/>
            {% elif gName == 'plan' %}
                <img class="white_box_icon" src="/images/group_icon_plan.png" width="40" height="40"/>
            {% elif gName == 'publication' %}
                <img class="white_box_icon" src="/images/group_icon_publication.png" width="40" height="40"/>
            {% endif %}

        </div>
        <div class="col-md-9">
            <div class="row white_box_title">
                <a href="{{ h.url_for('/group/' + group.name) }}">{{ group.title }}</a>
            </div>
            <div class="row white_box_short_desc">
                <p class="media-description">{{ h.markdown_extract(group.description, extract_length=20) }}</p>
            </div>

        </div>
    </div>
        {% endif %}
    {% endfor %}


</div>
</div>